parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Faker\\\\UniqueGenerator\\:\\:safeEmail\\(\\)\\.$#"
			count: 1
			path: database/factories/UserFactory.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: routes/console.php

